/*  */

@media screen and (max-width: 576px) {
   /* br tag no brack for mobile */
    .no-brack-for-mobile {
    display: none;
  }
  header {
    width: auto;
    height: 1260px;
  }
  .navbar {
    flex-direction: column;
  }
  .Fitness {
    margin-right: 250px;
    font-style: italic;
  }
   .bars-icon {
    display: inline;
    color: #ddd;
    cursor: pointer;
    font-size: 25px;
    position: relative;
    left: 150px;
    top: -33px;
  }
  .main-manu {
    display: none;
  }
  .mid-header {
    flex-direction: column;
  }
  .mid-section {
    width: 100%;
    margin: 0 auto;
  }
  .section-decsription {
    margin: 30px 20px;
  }
 
  .get-body {
    font-size: 2.3rem;
    margin-left: 20px;
    padding-top: 50px;
    font-weight: 900;
    line-height: 43px;
  }
  .p-btn,
  .s-btn {
    padding: 15px 30px;
    margin-left: 20px;
    margin-top: 0px;
  }
  /* benner-imges section */
  .benner-imgse img {
    margin-left: 200px;
    width: 60%;
    height: 70%;
    margin-top: 100px;
  }
  .blur-box-one {
    top: -550px;
    padding: 10px;
    left: 400px;
    font-size: 12px;
    width: 22%;
  }
  .blur-box-tow {
    top: -300px;
    right: -220px;
    padding: 10px;
    font-size: 12px;
    width: 23%;
    height: 50px;
  }
  .dot {
    width: 30px;
    height: 30px;
  }
  .font-size {
    font-size: 1.3rem;
  }
  /* Main section start */
  .bg-color {
    background-color: black;
    max-width: 1440px;
    height: 335rem;
    margin: auto;
    position: relative;
    margin-top: -100px;
  }
  .img-continer {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
  }

  .habits-change {
    width: 100%;
    padding: 0;
  }
  .habits-title {
    font-size: 2rem;
  }
  .section-decsription-center {
    width: 83%;
    line-height: 25px;
    margin: 10px auto;
  }
  /*  Run an Extra Mile Easily */
  .run-section {
    background-color: #222222;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 18px;
  }

  .run-extra {
    flex-direction: column;
    width: 100%;
    border: 1px solid;
    height: auto;
  }
  .title-decsription {
    align-items: flex-start;
  }
  .run-title {
    text-align: left;
    font-weight: 900;
    margin-top: 40px;
    font-size: 2rem;
  }

  .section-decsription {
    line-height: 25px;
    margin: 0;
  }
  .for-width {
    width: 100%;
    margin: 20px -0px;
    font-size: 18px;
    font-weight: 500;
  }
  .width-margin {
    width: 80%;
    margin: 20px;
  }
  .img-divition img {
    width: 85%;
    margin: 0 auto;
    margin: 20px;
    padding: 2px;
    margin-top: -20px;
    border-radius: 20px;
  }
  /* bmi calculator section */
  .calculator-chart-and-form {
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
  }
  .calculator {
    width: 90%;
  }
  form {
    grid-column: auto;
  }
  input {
    width: 100px;
  }
 
  .cla-title {
    margin-top: -50px;
    font-size: 2rem;
  }
  .calc-table {
    margin: 10px;
    margin-left: 20px;
  }
  .bmi-title {
    font-size: 1.2rem;
    padding-top: 10px;
  }
  .Bmi-respo {
    width: 80%;
    text-align: left;
    margin: 20px;
  }
  .calc-form {
    width: 100%;
    text-align: center;
    margin-top: -0px;
  }
  form {
    width: 100%;
  }
  input {
    width: 40%;
  }
  .input1 {
    width: 90%;
  }
  .t-btn {
    width: 50%;
    margin-right: 180px;
  }
  /* Meet-our-secton */
  .img-content {
    grid-template-columns: repeat(1, 6fr);
    width: 90%;
    border-radius: 8px;
    justify-items: center;
  }
  .img-cont {
    width: 250px;
    height: 250px;
  }
  /* footer section */
  footer {
    width: 100%;
    margin: 0 auto;
  }
  .extarnal-link {
    width: 90%;
    flex-direction: column;
    margin-left: 15px;
  }
  .Fitness {
    margin-left: 20px;
    font-size: 4rem;
  }
  .fitness {
    width: 90%;
    
  }
  .footer-link-one,
  .tow {
    margin-left: 20px;
  }
  hr {
    width: 90%;
  }
}
